html {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
}

body {
	margin:0 auto;

	line-height:1.5;

	overflow-x:hidden;

	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	overflow-anchor:none;

	&.is-fixed {
		position:fixed;

		width:100%;

		overflow:hidden;
	}
}

.container {
	position:relative;

	max-width:$base-container-width;
	padding:0 $base-container-padding;
	margin:0 auto;
}